
body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

.btn {
    margin-top: 100px;
    padding: 15px 25px;
    font-size: 24px;
}

.invisible {
    display: none;
}